<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="REST_Client_API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="REST_Client_API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <REST_Client_API.Properties.Settings>
            <setting name="database" serializeAs="String">
                <value>hughes-europe</value>
            </setting>
            <setting name="searchoptions" serializeAs="String">
                <value />
            </setting>
            <setting name="baseuri" serializeAs="String">
                <value>/</value>
            </setting>
        </REST_Client_API.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <REST_Client_API.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>172.17.102.29</value>
            </setting>
            <setting name="APIport" serializeAs="String">
                <value>8060</value>
            </setting>
            <setting name="adminport" serializeAs="String">
                <value>8002</value>
            </setting>
            <setting name="ssl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auth" serializeAs="String">
                <value>digest</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>admin</value>
            </setting>
        </REST_Client_API.Properties.Settings>
    </applicationSettings>
</configuration>